body,
figure { 
    margin: 0; 
}



.header__navBar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding:0 10%;
    background-color: #070F34;
}

.header__navBar--links ul {
    display: grid;
    grid-template-columns: .8fr .8fr .8fr .8fr;
    list-style: none;
}

.header__navBar--links ul a {
    text-decoration: none; 
    color: white;
    font-weight: bold;
}

.header__navBar--brand h2 {
    display: inline;
    padding: 5px;
    color: white;
    border: 1px solid #F87B0E;
    background-color: #F87B0E;
    border-radius: 10px;
}

.hero {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 10%;
    background-color: #070F34;
}

.hero--text { color: white; }

.hero--image {
    height: 200px;
    background-color: white;
}
.skills {
    margin: 0 10%;
    background-color: #f6f6f6;
}

.skills--title { 
    margin: 0;
    text-align: center;
}

.skills__learned {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

.skills__learned--item { 
    display: flex;
    margin: 10px 0;
 }

.skills__learned--item-Container {
    position: relative;
    width: 300px;
    height: 20px;
    border-radius: 100px;
    border: 1px solid gray;
    overflow: hidden;
    background-color: white;
}

.skills__learned--item-PercenBar {
    width: 80%;
    height: 100%;
    background-color: #2f7ae0;
}

.skills__learned--item-PercenNumber {
    position: absolute;
    top: 0;
    right: 50%;
    margin: 0;
    color: white;
}

.projects {
    padding:0 10%;
}

.projects__title { text-align: center; }

.projects--carousel {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.projects--carousel .item,
.projects--carousel .item img {
    width: 315px;
    height: 170px;
}

.projects__prevCarousel,
.projects__nextCarousel {
    position: absolute;
    top: 50%;
    color: white;
    margin: 0 2%;
    text-decoration: none;
}

.projects__prevCarousel { left: 0; }

.projects__nextCarousel { right: 0; }
